/* .title {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
}

.listTitle {
  margin-top: 20px;
  font-size: 18px;
  color: var(--accent-text);
}

.possibilitiesList {
  padding-left: 20px;
  list-style-type: disc !important;
}

.possibilitiesList li {
  margin-top: 8px;
}

.benefitsTitle {
  margin-top: 24px;
  font-size: 20px;
  color: var(--accent-text);
}

.benefitsList {
  margin-top: 18px;
  display: block;
}

.benefitsList li {
  margin-top: 12px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.benefitsImg {
  width: 60px;
  height: 60px;
}

.benefitsText {
  text-align: left;
  font-size: 14px;
} */

.mainSection {
  background-color: #8253d8;
  padding-top: 20px;
  padding-bottom: 50px;
}

.headerTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.title {
  margin-top: 60px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.subtitle {
  width: 240px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.buttonWrapper {
  width: fit-content;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.ciCardImg {
  display: block;
  width: 270px;
  height: 173px;
  margin: 0 auto;
  margin-top: 70px;
  transform: rotate(-12deg);
}
