.title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.submitButtonWrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 264px;
  margin: 0 auto;
  margin-top: 24px;
}
