@import url("./css/customReset.css");
@import url("./css/fonts.css");

:root {
  --text: #01000c;
  --gray-text: #667479;
  --accent-text: #3aaa35;
  --primary: #8253d8;
  --bg-green-200: #e9feec;
  --bg-blue-200: #e0efff;
  --bg-purple-200: #e2e4f3;
  --bg-gray-200: #f1f3f9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: var(--text);
}
