@import url("./css/customReset.css");
@import url("./css/fonts.css");

:root {
  --text: #01000c;
  --primary: #50b848;
  --bg-green-200: #e9feec;
  --bg-blue-200: #e0efff;
  --bg-purple-200: #e2e4f3;
  --bg-gray-200: #f1f3f9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
